<div style="display: flex; justify-content: center;">
  <img style="width: 500px; margin: auto;" src="../../assets/logo_v1.png" />
</div>
<div style="display: flex; justify-content: center;" *ngIf="showSecondaryLinks">
  <div style="width: 530px;">
    <div style="float: left;">
      <a
        routerLink="/dashboard"
        style="text-decoration: none; font-color: black;"
      >
        &#12296; main
      </a>
    </div>
    <div style="position: relative;">
      <div
        style="float: right; cursor: pointer;"
        (click)="toggleShowCurrentTeam()"
        *ngIf="!showTeamComponent"
      >
        team &#12297;
      </div>
      <app-current-team
        [closeFunction]="toggleShowCurrentTeamInput"
        *ngIf="showTeamComponent"
        style="
          z-index: 50;
          position: absolute;
          top: 0;
          right: -100px;
          background-color: white;
        "
      >
      </app-current-team>
    </div>
  </div>
</div>
