<nav>
  <ul>
    <li>
      <a routerLink="/dashboard">Dashboard!</a>
    </li>
    <li>
      <a routerLink="/app/standup">Daily Standup!</a>
    </li>
    <li>
      <a routerLink="/app/pointing">Pointing Meeting!</a>
    </li>
    <li>
      <a routerLink="/app/retro">Sprint Retro!</a>
    </li>
    <li *ngIf="authService.queryUser('is_PM')">
      <a routerLink="/pm_tools">PM Tools!</a>
    </li>
    <li (click)="logout()" class="navlist_item--clickable">
      Logout!
    </li>
  </ul>
</nav>
