<div style="display: flex; justify-content: center;">
  <img style="width: 500px; margin: auto;" src="../../assets/logo_v1.png" />
</div>
<div style="display: flex; justify-content: center;" *ngIf="showSecondaryLinks">
  <div style="width: 530px;">
    <div style="float: left;">
      <a
        routerLink="/dashboard"
        style="text-decoration: none; font-color: black;"
      >
        &#12296; main
      </a>
    </div>
    <div style="float: right;">
      team &#12297;
    </div>
  </div>
</div>
