# See http://help.github.com/ignore-files/ for more about ignoring files.
/.idea
/venv
__pycache__/
*.pyc
backend/tests/.cache
backend/tests/.cache/*
backend/local_settings.py
backend/.mypy_cache
backend/local_settings.py
*.log
*.log.*
.mypy_cache
**/.coverage
backend/.hypothesis
