[run]
branch = True
omit =
	**/local_settings.py
	**/settings.py
	**/runserver.py
	**/scripts/*.py
	**/tests/*
	**/scrum_types.py
	**/handler_funcs.py
	**/migrations**
[report]
fail_under = 70
precision = 2
skip_covered = True
sort = Miss

