<app-nav></app-nav>

<div class="container">
  <div class="grid">
    <div class="center-text grid__item--one-half-center">
      daily.
    </div>
    <textarea
      class="grid__item--one-half-center"
      placeholder="notes..."
      style="height: 200px; padding: 10px;"
    ></textarea>
    <div class="center-text grid__item--one-half-center">
      Current Speaker: {{ getCurrentSpeaker()[0] }}
    </div>
    <div
      class="center-text grid__item--one-half-center"
      style="font-size: 28px;"
    >
      1:37
    </div>
    <div class="center-text grid__item--one-half-center">
      remaining to speak
    </div>
    <button class="cta--affirmative grid__item--one-half-center">
      pass
    </button>
    <button class="cta--cautious grid__item--one-half-center">
      stay after
    </button>
  </div>
</div>

<!-- Welcome To The Standup!
<div class="container" *ngIf="!standupOver">
  <div class="grid">
    <div class="grid__item--one-whole">
      <div class="center-text">It is {{ participants[speakerIdx] }}'s turn!</div>
      <div class="center-text">Seconds Remaining: {{ curSpeakingTime }}</div>
    </div>
    <div class="grid__item--one-half-center">
      <button class="cta--primary" (click)="endTurn()">I'm Done!</button>
    </div>
  </div>
</div>

<div *ngIf="standupOver">
  Great job! Back to work now!
</div>
 -->
