<div style="margin-top: 15px;">
  <div style="width: 27%; margin: auto;">
    <img style="width: 500px; margin: auto;" src="../../assets/logo_v1.png" />
  </div>
  <div style="margin-top: 30px;">
    <div class="welcome-text">
      welcome.
    </div>
    <div style="width: 15%; margin: auto;">
      <!-- <span style="width: 120px; display: inline-block;">Email Address</span> -->
      <input
        [(ngModel)]="potentialUser.email"
        placeholder="username..."
        type="email"
        style="margin-top: 25px;"
        class="login-input"
        email="true"
        [ngModelOptions]="{updateOn: 'blur'}"
        #prmEmail="ngModel"
      />
      <span *ngIf="prmEmail.errors?.email"
        >That's a bad email, darling, and I think you can do better ;)</span
      >
    </div>
    <div style="width: 15%; margin: auto;">
      <!-- <span style="width: 120px; display: inline-block;">Password</span> -->
      <input
        [(ngModel)]="potentialUser.password"
        placeholder="password..."
        type="password"
        style="margin-top: 45px;"
        class="login-input"
        (keydown.enter)="submitLogin()"
      />
    </div>
    <div style="width: 15%; margin: auto;">
      <button
        [disabled]="
          prmEmail.errors?.email || this.potentialUser.password.length == 0
        "
        (click)="submitLogin()"
        style="margin-top: 45px;"
        class="login-button-base"
        type="submit"
        [ngClass]="{
          'login-button-thinking': buttonThinking,
          'login-button': !buttonThinking
        }"
      >
        {{ buttonText }}
      </button>
    </div>
  </div>
</div>
