<app-nav [showSecondaryLinks]="false"></app-nav>

<div style="margin-top: 40px; margin-bottom: 10px;">
  <div style="text-align: center;">
    choose ceremony.
  </div>
  <div class="ceremonyContainer" style="margin-bottom: 30px;">
    <button class="btn--primary" routerLink="/app/standup">
      <span class="dashboardClicky">daily</span>
    </button>
    <button class="btn--primary" routerLink="/app/pointing">
      <span class="dashboardClicky">planning</span>
    </button>
    <button class="btn--primary" routerLink="/app/retro">
      <span class="dashboardClicky">retro</span>
    </button>
    <button class="btn--primary" *ngIf="isPM" routerLink="/pm_tools">
      <span class="dashboardClicky">pmConfig</span>
    </button>
    <button (click)="logout()">
      <span class="dashboardClicky">logout</span>
    </button>
  </div>

  <div style="display: flex; justify-content: center;">
    <app-current-team></app-current-team>
  </div>

  <div>
    <label
      >Your Name:
      <input
        [(ngModel)]="user.display_name"
        [placeholder]="user.display_name ? null : 'What\'s your name, punk?'"
      />
    </label>
    <button (click)="saveName()" id="saveButton">Save!</button>
  </div>
</div>
